@model IEnumerable<Models.RankingList>

@{
    ViewBag.Title = "Index";
}

<h2>Ranking lists</h2>

@Html.ActionLink("Add new ranking list", "NewRank", "Ranks")
<br />
@using (Html.BeginForm("ScrapeFromXml", "Ranks", FormMethod.Post))
{
    <input type="submit" value="Scrape from XML" class="btn btn-default" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RankingListId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRank)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Ranks", new { id = item.RankingListId })">
                @item.RankingListId</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfRank)
        </td>
       
    </tr>
}

</table>
