@using VirtualFlowersMVC.Models
@model TeamStatisticPeriodModel
@{
    ViewBag.Title = "_TeamStatistic";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" />


<h2><img src="@Url.Content(Model.Logo)" title="@Model.TeamName" style="height:25px; width:25px; margin-bottom:5px" />@Model.TeamName @*(@Model.TeamDifficultyRating)*@</h2>
<h3>@Model.TeamRank</h3>

    @foreach (var period in Model?.TeamStatistics)
    {
        @*if (period.SuggestedMaps != null)
        {
            foreach (var suggestedMap in period.SuggestedMaps)
            {
                if (suggestedMap.SuggestedRank < 2)
                {
                    <i class="fi-die-one"></i>
                }
                else if (suggestedMap.SuggestedRank == 2)
                {
                    <i class="fi-die-two"></i>
                }
                else if (suggestedMap.SuggestedRank == 3)
                {
                    <i class="fi-die-three"></i>
                }
                else if (suggestedMap.SuggestedRank == 4)
                {
                    <i class="fi-die-four"></i>
                }
                else if (suggestedMap.SuggestedRank == 5)
                {
                    <i class="fi-die-five"></i>
                }
                else 
                {
                    <i class="fi-die-six"></i>
                }
                <span> @suggestedMap.Map: +@suggestedMap.WinLossRecord wins - Win: @suggestedMap.WinPercent% - Diff.R: @suggestedMap.DifficultyRating - TFR: @suggestedMap.TFRating</span><br />
            };
        }*@
        <h3>@period.Period</h3>
        <table class="table table-condensed table-hover">
            <tr>
                <th></th>
                <th>
                    Map
                </th>
                <th>
                    Winrate
                </th>
                <th>
                    Win%
                </th>
                <th style="cursor: help" class="htmlTooltip">
                    <div class="tooltiptext"><b>Average rounds</b></div>
                    Av. rounds
                </th>
                <th style="cursor: help" class="htmlTooltipCenter">
                    <div class="tooltiptext"><b>Team won 1st round % of time.</b></div>
                    1st
                </th>
                <th style="cursor: help" class="htmlTooltipCenter">
                    <div class="tooltiptext"><b>Team won 16th round % of time.</b></div>
                    16th
                </th>
                <th style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext"><b>Difficulty Rating:</b> <br />Opponents were on average <br /> 1.0: Top 6 rank <br /> 0.9: 7-12 rank <br /> 0.8: 13-18 rank <br /> 0.7: 19-24 rank <br /> 0.6: 25-30 rank <br /> 0.5: 30+ rank</div>
                    Diff.R
                </th>
                <th style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext"><b>Full Team Ranking:</b> <br /> 5: All 5 from expected linup own this history stats <br /> 4: 4 of 5 <br /> 3: 3 of 5 <br /> 0-2: History stats pretty much useless.</div>
                    FTR
                </th>
            </tr>
            @foreach (var map in period.Maps)
            {
                <tr class="mapline @map.Map.ToLower()">
                    <td>
                        @if (map.SuggestedMap != null)
                        {
                            <i class="@map.SuggestedMap.SuggestiveMapClass" title="+@map.SuggestedMap.WinLossRecord wins - Win: @map.SuggestedMap.WinPercent% - Diff.R: @map.SuggestedMap.DifficultyRating - TFR: @map.SuggestedMap.TFRating"></i>
                        }
                    </td>
                    <td style="cursor: help" class="htmlTooltip">
                        <div class="tooltiptext">@Html.Raw(@map.TitleMapMatches)</div>
                        @map.Map.ToLower()
                    </td>
                    <td>
                        @map.TotalWins / @map.TotalLosses
                    </td>
                    <td>
                        @map.WinPercent%
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext"><b>Av.(win):</b> @map.AverageWinRoundsWhenWin / @map.AverageLossRoundsWhenWin <br /><b>Av.(loss):</b> @map.AverageWinRoundsWhenLoss / @map.AverageLossRoundsWhenLoss</div>
                        @map.AverageWinRounds / @map.AverageLossRounds
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext">@Html.Raw(@map.FirstRound1HWinPercent.Item2)</div>
                        @map.FirstRound1HWinPercent.Item1%
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext">@Html.Raw(@map.FirstRound2HWinPercent.Item2)</div>
                        @map.FirstRound2HWinPercent.Item1%
                    </td>
                    <td style="cursor: help" class="htmlTooltipLeft">
                        <div class="tooltiptext">@Html.Raw(@map.DiffTitleGroupBy)</div>
                        @map.DifficultyRating
                    </td>
                    <td style="cursor: help" class="htmlTooltipLeft">
                        <div class="tooltiptext">@Html.Raw(@map.FullTeamGroupBy)</div>
                        @Math.Round(@map.FullTeamRanking,1)
                    </td>
                </tr>            
            }
        </table>
    }

