@using VirtualFlowersMVC.Models
@model TeamStatisticPeriodModel
@{
    ViewBag.Title = "_TeamStatistic";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" />

<h2>@Model.TeamName (@Model.TeamDifficultyRating)</h2>

    @foreach (var period in Model?.TeamStatistics)
    {
        if (period.SuggestedMaps != null)
        {
            foreach (var suggestedMap in period.SuggestedMaps)
            {
                if (suggestedMap.SuggestedRank < 2)
                {
                    <i class="fi-die-one"></i>
                }
                else if (suggestedMap.SuggestedRank == 2)
                {
                    <i class="fi-die-two"></i>
                }
                else if (suggestedMap.SuggestedRank == 3)
                {
                    <i class="fi-die-three"></i>
                }
                else if (suggestedMap.SuggestedRank == 4)
                {
                    <i class="fi-die-four"></i>
                }
                else if (suggestedMap.SuggestedRank == 5)
                {
                    <i class="fi-die-five"></i>
                }
                else 
                {
                    <i class="fi-die-six"></i>
                }
                <span> @suggestedMap.Map: +@suggestedMap.WinLossRecord wins - Win: @suggestedMap.WinPercent% - Diff.R: @suggestedMap.DifficultyRating - TFR: @suggestedMap.TFRating</span><br />
            };
        }
        <h3>@period.Period</h3>
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    Map
                </th>
                <th>
                    Winrate
                </th>
                <th>
                    Win%
                </th>
                <th style="cursor: help" title="Average rounds">
                    Av. rounds
                </th>
                <th style="cursor: help" title="Team won 1st round % of time.">
                    1st
                </th>
                <th style="cursor: help" title="Team won 16th round % of time.">
                    16th
                </th>
                <th style="cursor: help" title="Difficulty Rating &#010;Opponents were on average &#010; 1.0: Top 6 rank &#010; 0.9: 7-12 rank &#010; 0.8: 13-18 rank &#010; 0.7: 19-24 rank &#010; 0.6: 25-30 rank &#010; 0.5: 30+ rank">
                    Diff.R
                </th>
                <th style="cursor: help" title="Full Team Ranking &#010; 5: All 5 from expected linup own this history stats &#010; 4: 4 of 5 &#010; 3: 3 of 5 &#010; 0-2: History stats pretty much useless.">
                    FTR
                </th>
            </tr>
            @foreach (var map in period.Maps)
            {
                <tr class="mapline @map.Map">
                    <td>
                        @map.Map
                    </td>
                    <td>
                        @map.TotalWins / @map.TotalLosses
                    </td>
                    <td>
                        @map.WinPercent%
                    </td>
                    <td style="cursor: help" title="Av.(win): @map.AverageWinRoundsWhenWin / @map.AverageLossRoundsWhenWin &#010;Av.(loss): @map.AverageWinRoundsWhenLoss / @map.AverageLossRoundsWhenLoss &#010;">
                        @map.AverageWinRounds / @map.AverageLossRounds
                    </td>
                    <td style="cursor: help" title="@Html.Raw(@map.FirstRound1HWinPercent.Item2)">
                        @map.FirstRound1HWinPercent.Item1%
                    </td>
                    <td style="cursor: help" title="@Html.Raw(@map.FirstRound2HWinPercent.Item2)">
                        @map.FirstRound2HWinPercent.Item1%
                    </td>
                    <td style="cursor: help" title="@Html.Raw(@map.DiffTitleGroupBy)">
                        @map.DifficultyRating
                    </td>
                    <td style="cursor: help" title="@Html.Raw(@map.FullTeamGroupBy)">
                        @Math.Round(@map.FullTeamRanking,1)
                    </td>
                </tr>            
            }
        </table>
    }

