@using VirtualFlowersMVC.Models
@model TeamStatisticPeriodModel
@{
    ViewBag.Title = "_TeamStatistic";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" />


<h2>
    @if (!string.IsNullOrEmpty(Model.Logo))
    {<img src="@Url.Content(Model.Logo)" title="@Model.TeamName" style="height:50px; width:50px; margin-bottom:5px" />}@Model.TeamName @*(@Model.TeamDifficultyRating)*@
</h2>

<span style="font-size:20px"><b>@Model.TeamRank </b></span>
@if (Model.Form != null)
{
    <span class="htmlTooltip">
        <label>&nbsp;-&nbsp;</label>
        <span class="tooltiptext">@Html.Raw(@Model.Form.TitleHtml)</span>
        @foreach (var form in Model.Form.FormUnits)
        {
            <label style="background-color: @form.Color; width:18px;text-align:center">@form.Letter</label>
        }
    </span>
}

@foreach (var period in Model?.TeamStatistics)
{
    <h3>@period.Period</h3>
    <table class="table table-condensed table-hover">
        <tr>
            <th></th>
            <th>
                Map
            </th>
            <th>
                Winrate
            </th>
            @*<th>
                    Win%
                </th>
                <th style="cursor: help" class="htmlTooltip">
                    <div class="tooltiptext"><b>Average rounds</b></div>
                    Av
                </th>
                <th style="cursor: help" class="htmlTooltipCenter">
                    <div class="tooltiptext"><b>Team won 1st round % of time.</b></div>
                    1st
                </th>
                <th style="cursor: help" class="htmlTooltipCenter">
                    <div class="tooltiptext"><b>Team won 16th round % of time.</b></div>
                    16th
                </th>*@
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Bomb explosion round win</b> </div>
                B
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Bomb defuse round win</b> </div>
                D
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Timeout round win</b> </div>
                T
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Number of grenade kills</b> </div>
                G
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Number of molotov kills</b> </div>
                M
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Number of zues kills</b> </div>
                Z
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Number of knife kills</b> </div>
                K
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Difficulty Rating:</b> <br />Opponents were on average <br /> 1.0: Top 6 rank <br /> 0.9: 7-12 rank <br /> 0.8: 13-18 rank <br /> 0.7: 19-24 rank <br /> 0.6: 25-30 rank <br /> 0.5: 30+ rank</div>
                Diff.R
            </th>
            <th style="cursor: help" class="htmlTooltipLeft">
                <div class="tooltiptext"><b>Full Team Ranking:</b> <br /> 5: All 5 from expected linup own this history stats <br /> 4: 4 of 5 <br /> 3: 3 of 5 <br /> 0-2: History stats pretty much useless.</div>
                FTR
            </th>
        </tr>
        @foreach (var map in period.Maps)
        {
            <tr class="mapline @map.Map.ToLower()">
                <td>
                    @if (map.SuggestedMap != null)
                    {
                        <i class="@map.SuggestedMap.SuggestiveMapClass" title="+@map.SuggestedMap.WinLossRecord wins - Win: @map.SuggestedMap.WinPercent% - Diff.R: @map.SuggestedMap.DifficultyRating - TFR: @map.SuggestedMap.TFRating"></i>
                    }
                </td>
                <td style="cursor: help" class="htmlTooltip">
                    <div class="tooltiptext">@Html.Raw(@map.TitleMapMatches)</div>
                    @map.Map.ToLower()
                </td>
                <td>
                    @map.TotalWins / @map.TotalLosses
                </td>
                @*<td>
                        @map.WinPercent%
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext"><b>Av.(win):</b> @map.AverageWinRoundsWhenWin / @map.AverageLossRoundsWhenWin <br /><b>Av.(loss):</b> @map.AverageWinRoundsWhenLoss / @map.AverageLossRoundsWhenLoss</div>
                        @map.AverageWinRounds / @map.AverageLossRounds
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext">@Html.Raw(@map.FirstRound1HWinPercent.Item2)</div>
                        @map.FirstRound1HWinPercent.Item1%
                    </td>
                    <td style="cursor: help" class="htmlTooltipCenter">
                        <div class="tooltiptext">@Html.Raw(@map.FirstRound2HWinPercent.Item2)</div>
                        @map.FirstRound2HWinPercent.Item1%
                    </td>*@
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.BombExplosionsWin45 / (double)map.TotalMatches) * 100, 1))% - Over 4.5 Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.BombExplosionsWin45 / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.BombExplosionsWin45 / (double)map.TotalMatches) * 100, 1))% - Under 4.5 Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.BombExplosionsWin45 / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.BombExplosions / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.BombDefusesWin35 / (double)map.TotalMatches) * 100, 1))% - Over 3.5 Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.BombDefusesWin35 / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.BombDefusesWin35 / (double)map.TotalMatches) * 100, 1))% - Under 3.5 Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.BombDefusesWin35 / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.BombDefuses / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.TimeOutWin05 / (double)map.TotalMatches) * 100, 1))% - Over 0.5 Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.TimeOutWin05 / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.TimeOutWin05 / (double)map.TotalMatches) * 100, 1))% - Under 0.5 Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.TimeOutWin05 / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.TimeOut / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.GrenadeKillWin / (double)map.TotalMatches) * 100, 1))% - Yes Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.GrenadeKillWin / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.GrenadeKillWin / (double)map.TotalMatches) * 100, 1))% - No Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.GrenadeKillWin / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.GrenadeKill / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.MolotovKillWin / (double)map.TotalMatches) * 100, 1))% - Yes Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.MolotovKillWin / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.MolotovKillWin / (double)map.TotalMatches) * 100, 1))% - No Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.MolotovKillWin / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.MolotovKill / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.ZuesKillWin / (double)map.TotalMatches) * 100, 1))% - Yes Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.ZuesKillWin / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.ZuesKillWin / (double)map.TotalMatches) * 100, 1))% - No Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.ZuesKillWin / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.ZuesKill / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">
                        @Html.Raw(Math.Round((map.KnifeKillWin / (double)map.TotalMatches) * 100, 1))% - Yes Odds: @Html.Raw(Math.Round(1 / (Math.Round((map.KnifeKillWin / (double)map.TotalMatches) * 100, 1) / 100), 1))<br />
                        @Html.Raw(100 - Math.Round((map.KnifeKillWin / (double)map.TotalMatches) * 100, 1))% - No Odds: @Html.Raw(Math.Round(1 / ((100 - Math.Round((map.KnifeKillWin / (double)map.TotalMatches) * 100, 1)) / 100), 1))
                    </div>
                    @Math.Round(map.KnifeKill / (double)map.TotalMatches, 1)
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">@Html.Raw(@map.DiffTitleGroupBy)</div>
                    @map.DifficultyRating
                </td>
                <td style="cursor: help" class="htmlTooltipLeft">
                    <div class="tooltiptext">@Html.Raw(@map.FullTeamGroupBy)</div>
                    @Math.Round(@map.FullTeamRanking, 1)
                </td>
            </tr>
        }
    </table>
}