@using VirtualFlowersMVC.Models
@model TeamStatisticPeriodModel
@{
    ViewBag.Title = "_TeamStatistic";
}

<h2>@Model.TeamName (@Model.TeamDifficultyRating)</h2>

    @foreach (var period in Model?.TeamStatistics)
    {
        <h3>@period.Period</h3>
        <table class="table">
            @foreach (var map in period.Maps)
            {
                <tr>
                    <td>
                        @map.Map
                    </td>
                    <td>
                        @map.TotalWins / @map.TotalLosses
                    </td>
                    <td>
                        @map.WinPercent %
                    </td>
                    <td style="cursor: help" title="Av.(win): @map.AverageWinRoundsWhenWin / @map.AverageLossRoundsWhenWin &#010;Av.(loss): @map.AverageWinRoundsWhenLoss / @map.AverageLossRoundsWhenLoss &#010;">
                        Av.: @map.AverageWinRounds / @map.AverageLossRounds
                    </td>
                    <td style="cursor: help" title="@Html.Raw(@map.DiffTitleGroupBy)">
                        Diff.R: @map.DifficultyRating
                    </td>
                    <td>
                        FTR: @map.FullTeamPercent
                    </td>
                </tr>            
            }
        </table>
    }

