@using VirtualFlowersMVC.Models
@model CompareStatisticModel
@{    
    ViewBag.Title = "Compare";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<style>
    body {
        color: black;
        font-family: 'source_sans_prolight';
    }
    .FTRButton {
        color: #fff; 
        background: #34b091; 
        font-size: 12px; 
        font-family: 'source_sans_problack'; 
        border-radius: 30px; 
        text-transform: uppercase; 
        line-height: 13px;
    }
</style>

<div class="featured-item">
    <div class="block">
        <div class="block-title">
            <h1>@Html.ActionLink("Compare", "Compare", new { }, new { style = "text-decoration:none; color: #454855;" })</h1>
            @if (Model != null && Model.ExpectedLineUp != null && Model.ExpectedLineUp.EventName != null)
            { <h4>@Model.ExpectedLineUp.EventName</h4>}
        </div>
    </div>
    
    @if (Model != null && Model.ExpectedLineUp != null && Model.ExpectedLineUp.Players != null && Model.ExpectedLineUp.Players.Count != 10)
    {
        <span style="color:red">
            Expected linup received @Model.ExpectedLineUp.Players.Count players
            (Team1: @Model.ExpectedLineUp.Players.Count(p => p.TeamID == Model.Team1Id) /
            Team2: @Model.ExpectedLineUp.Players.Count(p => p.TeamID == Model.Team2Id))
        </span>
    }
    <form action="Compare" method="post" class="form-inline">
        <div class="col-lg-3">
            <input type="text" style="width:80px" class="form-control" name="Team1Id" value="" placeholder="Team 1" />
            <input type="text" style="width:80px" class="form-control" name="Team2Id" value="" placeholder="Team 2" />
        </div>
        <div class="col-lg-9">
            <label for="MatchUrl">Or&nbsp;&nbsp;&nbsp;</label><input type="text" style="width: 800px" class="form-control" name="MatchUrl" value="" placeholder="MatchUrl" />
            <input type="submit" class="btn btn-primary" id="CompareBtn" value="Compare" style="background-color:#34b091" />
            <img class="loading" src="~/Content/Image/ajax-loader.gif" alt="loader" style="display:none" />
        </div>
        <div class="col-lg-3">
            <label style="cursor: help" title="Automaticly scraped once a day, but if you want check again."><input type="checkbox" name="Scrape" value="true" checked /> Scrape</label>
            <label style="cursor: help" title="Don't use stats from memory, get all new! (will take 0.5-3 min)"><input type="checkbox" name="NoCache" value="true" /> No cache</label>
        </div>
        <div class="col-lg-9">
            <label style="cursor: help" title="Get history 3 months back"><input type="checkbox" name="PeriodSelection" value="3" checked /> 3 Month</label>
            <label style="cursor: help" title="Get history 6 months back"><input type="checkbox" name="PeriodSelection" value="6" checked /> 6 Month</label>
            <label style="cursor: help" title="Min FTR 4"><input type="checkbox" name="MinFullTeamRanking" value="4" /> Min FTR 4</label>
            <label style="cursor: help" title="Min FTR 5"><input type="checkbox" name="MinFullTeamRanking" value="5" /> Min FTR 5</label>
        </div>
    </form>


    @if (Model != null)
    {
        foreach (var Team in Model?.Teams)
        {
            <div class="col-md-6">
                @Html.Partial("Partials/_TeamStatistic", Team)
            </div>
        }
    }

</div>

    <script>
        $(document).ready(function () {
            $('.loading').fadeOut('slow');

            $("#CompareBtn").click(function () {
                // Loading spinner
                $('.loading').fadeIn('fast');
            });

            $("tr.mapline").hover(function () {
                var trClass = this.className.replace('mapline ', '');
                $("." + trClass).css("background-color", "#f5f5f5");
            });

            $("tr.mapline").mouseleave(function () {
                var trClass = this.className.replace('mapline ', '');
                $("." + trClass).css("background-color", "");
            });
        });
    </script>
