@model List<VirtualFlowersMVC.Models.OverViewViewModel>
@{
    ViewBag.Title = "Index";


}

<h2>Overview</h2>
@using (Html.BeginForm("Overview", "Home", FormMethod.Post))
{
    <input id="Submit2" type="submit" value="submit" />
    <table>

        <tr>
            <td style="padding-right:15px">
                Scrape
            </td>

            <td>Scraped</td>

            <td style="padding-right:15px">
                Link to game
            </td>
            <td></td>
            <td align="center">
                Best of three
            </td>

        </tr>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @if (!Model[i].GameNotReady)
                    {
                        @Html.CheckBoxFor(it => it[i].UrlChecked, new { Style = "vertical-align: middle" })
                    }
                </td>
                <td>
                    @if (Model[i].ScrapedMatch)
                    {<img src="../../Content/Image/checked.jpg" height="12" width="12" />}
                </td>

                <td style="padding-right:15px">
                    <a href="@Model[i].Url">@Model[i].Url</a>
                </td>

                <td>
                    @Html.HiddenFor(it => it[i].Id)
                    @Html.HiddenFor(it => it[i].Name)

                </td>
                <td>
                    @Html.DisplayFor(it => it[i].BestOf3)
                </td>

            </tr>

        }

    </table>



    <input id="Submit1" type="submit" value="submit" />

} 