@model IEnumerable<Models.Teams>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultT2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Map)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultT2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
